.text-lavendar{
  color: #6D7993;
}

.box-form{
  padding: 20px;
  margin-top: 60px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 8px;
}

.container{
    margin-bottom: 100px;
}

.btn-block{
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.navbar-user-image{
  width: 45px!important;
}

.dropdown-navbar-menu-custom{
  left: -75%;
  box-shadow: -1px 3px 8px 1px #e0e0e0;
}

.block{
  width: 100%;
}

.suggest-friend:hover{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #bbb;
  cursor: pointer;
}

.news-feed-bigger-img-size{
  width: 125px;
}

.newsfeed-post-img-size{
  width: 44px;
}


.newsfeed-comment-img-size{
  width: 32px;
}

.recommended-friend{
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #b1b1b1;
}