.text-lavendar{
  color: #6D7993;
}

.box-form{
  padding: 20px;
  margin-top: 60px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 8px;
}
.container{
    margin-bottom: 100px;
}
.btn-block{
  width: 100%;
  margin: 10px 0px 10px 0px;
}
