.text-lavendar{
  color: #6D7993;
}

.box-form{
  padding: 20px;
  margin-top: 60px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 8px;
}

.container{
    margin-bottom: 100px;
}

.btn-block{
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.navbar-user-image{
  width: 45px!important;
}

.dropdown-navbar-menu-custom{
  left: -75%;
  box-shadow: -1px 3px 8px 1px #e0e0e0;
}

.block{
  width: 100%;
}

.suggest-friend:hover{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #bbb;
  cursor: pointer;
}

.news-feed-bigger-img-size{
  width: 125px;
}

.newsfeed-post-img-size{
  width: 44px;
}


.newsfeed-comment-img-size{
  width: 32px;
}

.recommended-friend{
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #b1b1b1;
}

.load-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}


/* Newsfeed and detail user Post CSS */
.post-comment-box{
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px #757575;
}

.post-information{
  padding-left: 20px;
  padding-right: 20px;
}

.comments-box, .insert-comment-box{
  padding-left: 20px;
  padding-right: 20px;
  background: #f1f5fd;
}

.post-box{
  padding: 12px;
}

.newsfeed-box-form{
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 1px 1px 4px #717171;
}

.suggested-books-box{
border: 1px solid lightgray;
margin: 20px;
border-radius: 8px;
}

.books-box-description{
border-left: 1px solid lightgray;
}

.overflow-hidden{
  overflow: hidden;
}
/* end Newsfeed css */



/* Homepage css */
#home-logo{
  width: 450px;
}

.home-book-img-size{
  width: 90px;
}
/* end Homepage css */