.navbar img{
  width: 150px;
}
.navbar {
    background-color: rgb(231,231,231);
    padding:0px;
    padding: 0px 40px;
    box-shadow: 0px 5px 8px #aaa;
}
.btn-outline{
  color: #96858F;
  border-color: #96858F;
  background-color: transparent;
}
.btn-outline:hover{
  color: white;
  border-color: #96858F;
  background-color: #96858F;
}
.form-inline{
  margin-right: 30px;
}
.nav-link{
  color: #96858F;
  font-size: 17px;
}
.nav-link:hover{
  color: #6D7993;
}
.navbar-nav{
  margin-right: 20px;
}
