.navbar img{
  width: 150px;
}
.navbar {
    background-color: #D5D5D5;
    padding:0px;
    padding-left: 50px;
    padding-right: 50px;
}
.btn-outline{
  color: #96858F;
  border-color: #96858F;
  background-color: transparent;
}
.btn-outline:hover{
  color: white;
  border-color: #96858F;
  background-color: #96858F;
}
