.post-comment-box{
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px #757575;
}

.post-information{
    padding-left: 20px;
    padding-right: 20px;
}

.comments-box, .insert-comment-box{
    padding-left: 20px;
    padding-right: 20px;
    background: #f1f5fd;
}

.post-box{
    padding: 12px;
}

.newsfeed-box-form{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #717171;
}

.suggested-books-box{
  border: 1px solid lightgray;
  margin: 20px;
  border-radius: 8px;
}

.books-box-description{
  border-left: 1px solid lightgray;
}
