{% extends "common/base.html" %}
{% load staticfiles %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="row">
        <!-- First column with the Welcome message, logo image and the register and login buttons.-->
        <div class="col-sm-6">
            <div class="text-center mt-5">
                <img id="home-logo" class="mb-4 img-fluid" src="{% static 'img/logo2-big.png' %}" alt="Logo">
                <h2>Welcome to Friends Bookshelf!</h2>
            </div>
            <div class="mt-5 mb-3">
                <a class="btn btn-primary btn-block mb-4" href="{% url 'register' %}">Register</a>
                <a class="btn btn-outline-success btn-block" href="{% url 'login' %}">Login</a>
            </div>
        </div>

        <div class="col-sm-6">
            <!-- Example books in homepage -->
            <h5 class="text-center mt-3">Example of books you could see in the app:</h5>
            <hr />
            <div class="row mt-4">
                {% for book in books.items %}
                    <div class="col-sm-6 col-md-5 offset-md-1 col-lg-3 offset-lg-1 text-center">
                        <a href="{% url 'books_detail' book.id %}">
                            {% if book.volumeInfo.imageLinks %}
                                <img class="home-book-img-size" src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title }}">
                            {% else %}
                                <img class="home-book-img-size" src="{% static 'img/no-book-image.jpg' %}" alt="{{ book.volumeInfo.title }}">
                            {% endif %}
                            <p class="mt-2" >{{ book.volumeInfo.title }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}