{% extends "common/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}
{% load humanize %}
{% load extras %}

{% block title %}Newsfeed{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/newsfeed.css'%}">
{% endblock %}

{% block content %}
    <input type="text" id="comment-user-image" val="{% if user.image %}{{ user.image_thumbnail.url }}{% else %}{% static 'img/user_icon.png' %}{% endif %}" hidden>
    {% include "common/message.html" %}
    <div class="row">
        <div class="col-md-8">
            <div class="newsfeed-box-form mb-4">
                <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <div class="text-center">
                        {% buttons %}
                            <button class="btn btn-primary">Submit</button>
                        {% endbuttons %}
                    </div>
                </form>
            </div>

            {% if posts.count %}
                <div class="all-post-box">
                {% for post in posts %}
                    <div class="post-comment-box mb-4 ajax-post" id='{{ post.id }}'>
                        <div class="post-information">
                            <div class="user-post-box mb-3 mt-3 clearfix">
                                <div class="float-left mr-1">
                                    <a href="{% url 'user_details' post.user.pk %}">
                                        {% if post.user.image %}
                                            <img src="{{ post.user.image_thumbnail.url }}" class="rounded-circle newsfeed-post-img-size"/>
                                        {% else %}
                                            <img src="{% static 'img/user_icon.png' %}" class="rounded-circle newsfeed-post-img-size"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="float-left">
                                    <p class="mb-0">
                                        <a href="{% url 'user_details' post.user.pk %}">
                                            <b>{{ post.user.first_name }} {{ post.user.last_name }}</b>
                                        </a>
                                    </p>
                                    <p class="text-small mb-0"><small>{{ post.created_date|naturalday|capfirst }} at {{ post.created_date|date:'P' }}</small></p>
                                </div>
                                {% if user == post.user %}
                                    <div class="float-right delete-post">
                                        <form action="{% url 'delete_post' post.id %}" method="POST">
                                            {% csrf_token %}
                                        </form>
                                        <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="post-box">
                              {{ post.description }}

                              {% if post.book %}
                                  {% with post.book.book.google_id|load_book as book_info %}
                                      <div class="row mt-4 suggested-books-box">
                                        <div class="col-sm-3 pt-4">
                                          <a href="{% url 'books_detail' post.book.book.google_id %}" target="_blank">
                                            <img src="{{ book_info.volumeInfo.imageLinks.thumbnail }}" alt="{{ book_info.volumeInfo.title }}" class="img-fluid">
                                            <p class="mt-2 text-center"><b>{{ book_info.volumeInfo.title }}</b></p>
                                          </a>
                                        </div>
                                        <div class="col-sm-9 books-box-description">
                                          <p class='short-text'>{{ book_info.volumeInfo.description|safe|truncatewords:55 }} {% if book_info.volumeInfo.description|safe|length > 200 %} <a class="read-more" href="">Read More</a>{% endif %}</p>
                                          <p class="d-none full-text">{{ book_info.volumeInfo.description|safe }} <a class="read-less" href="">Read Less</a></p>
                                        </div>
                                      </div>
                                  {% endwith %}
                              {% endif %}
                            </div>
                        </div>
                        <hr class="mb-0" />
                        <div class="comments-box">
                            <div class="pb-3 pt-3 comments-box-ajax">
                                {% if post.comments.count %}
                                    {% for comment in post.comments.all %}
                                        <div class="detail-comment-box mb-2">
                                            <div class="user-comment-info">
                                                <a href="{% url 'user_details' comment.user.pk %}">
                                                    {% if comment.user.image %}
                                                        <img src="{{ comment.user.image_thumbnail.url }}" class="newsfeed-comment-img-size rounded-circle"/>
                                                    {% else %}
                                                        <img src="{% static 'img/user_icon.png' %}" class="newsfeed-comment-img-size rounded-circle"/>
                                                    {% endif %}
                                                    <b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b>
                                                </a>
                                                <span class="user-comment-text">
                                                    {{ comment.text }}
                                                </span>
                                            </div>
                                        </div>
                                        <hr />
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="insert-comment-box pb-3 pt-3">
                            <form class="submit-comment">
                                <div class="input-group">
                                    <input type="text" class="form-control inputs-lg comment-input" placeholder="Write a comment..." aria-label="Write a comment..." aria-describedby="basic-addon2" required="required">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="submit">Post Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
                </div>

                <!--<button class="btn btn-primary btn-block" id="load-more-posts">Load more posts</button>-->
                <input type="text" value='2' hidden>
            {% else %}
                <div class="text-center">
                    <h5>We don't have any post from your friends or you, be the first to post something!!</h5>
                </div>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="newsfeed-box-form text-center mb-4">
                <h5 class="text-lavendar">Friends Suggestions</h5>
                <hr/>

                <div class="row">
                    {% if friends_suggest.count %}
                        {% for user in friends_suggest %}
                            <div class="col-lg-6 mb-3">
                                <a href="{% url 'user_details' user.pk %}">
                                    <div class="card text-center pt-1">    
                                        <div class="avatar">
                                            {% if user.image %}
                                                <img class="rounded-circle newsfeed-post-img-size" src="{{ user.image_thumbnail.url }}"/>
                                            {% else %}
                                                <img class="rounded-circle newsfeed-post-img-size" src="{% static 'img/user_icon.png' %}"/>
                                            {% endif %}
                                        </div>
                                        <div class="content">
                                            <p class="mt-1 mb-1"><b>{{ user.first_name }} {{ user.last_name }}</b></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>We don't have any friend suggestions right now.</p>
                    {% endif %}
                </div>
            </div>
            <div class="newsfeed-box-form text-center">
                <h5 class="text-lavendar">Books Suggestions</h5>
                <hr />
                <div class="row mt-4">
                    {% for book in books.items %}
                        <div class="col-sm-4 offset-sm-1 text-center">
                            <a href="{% url 'books_detail' book.id %}">
                                <img class="home-book-img-size" src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title }}">
                                <p class="mt-2" >{{ book.volumeInfo.title }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/sweet-alert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/newsfeed.js' %}"></script>

    <script>
        $(document).ready(function() {
            // Load more posts Ajax
            $("#load-more-posts").click(function(event){
                var inputPage = $(this).next();
                var page = inputPage.val();
                $(this).toggleClass('disabled').html('<i class="fas fa-spinner fa-spin"></i> Loading');

                $.ajax({
                    type:"GET",
                    url:"ajax/comment/"+inputPage.val(),
                    success: function(data){
                        inputPage.val(page+1)

                        console.log((inputPage.val(page+1)));

                        if(data.has_next != true){
                            $(this).addClass('ds-none');
                        }else{
                            $(this).toggleClass('disabled').html('Load more posts');
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}
