{% extends "common/base.html" %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/books_details.css' %}">
{% endblock %}

{% block title %}Books Detail | {{ book.volumeInfo.title }}{% endblock %}

{% block content %}
<div class="box-form">
  <div class="row">
      <div class="text-center col-sm-3">
          <img src="{{ book.volumeInfo.imageLinks.large }}" class="img-fluid" alt="{{ book.volumeInfo.title }}">
          <div class="text-center">
            <form action="{% url 'books_like_dislike_post' book.id book.volumeInfo.title %}" method="POST">
              {% csrf_token %}
              <input type="text" class="hidden d-none" value='True'>
              <button class="btn btn-block btn-primary" >Like</button>
            </form>
          </div>
          <div class="text-center">
            <form action="{% url 'books_like_dislike_post' book.id book.volumeInfo.title %}" method="POST">
              {% csrf_token %}
              <input type="text" class="hidden d-none" value='False'>
              <button class="btn btn-block btn-primary ">Dislike</button>
            </form>
          </div>
          <div class="text-center">
            <form action="{% url 'books_wishlist_post' book.id book.volumeInfo.title %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-block btn-primary ">Add to wishlist</button>
            </form>
          </div>
          <div class="text-center">
            <button class="btn btn-block btn-primary ">Suggest to friend</button>
          </div>
      </div>
      <div class="col-sm-8">
          <h2>{{ book.volumeInfo.title }}</h2>
          <hr/>
          <h3>{{ book.volumeInfo.authors }}</h3>
          <p><b>Language: </b>{{ book.volumeInfo.language }}</p>
          <p><b>Publish date: </b>{{ book.volumeInfo.publishedDate }}</p>
          <p><b>Available in ebook: </b>
            {% if book.saleInfo.isEbook %}
            Yes
            {% else %}
            No
            {% endif %}
          </p>
          <p>{{ book.volumeInfo.description|safe }}</p>
      </div>
  </div>
</div>
{% endblock %}
