{% extends "common/base.html" %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/books_details.css' %}">
{% endblock %}

{% block title %}Books Detail | {{ book.volumeInfo.title }}{% endblock %}

{% block content %}
<div class="box-form">
  <div class="row">
    <div class="col-xs-12  mx-auto">
      {% include "common/message.html" %}
    </div>
  </div>
  <div class="row">
      <div class="text-center col-sm-3">
          {% if book.volumeInfo.imageLinks.large %}
            <img src="{{ book.volumeInfo.imageLinks.large }}" class="img-fluid" alt="{{ book.volumeInfo.title }}">
          {% elif book.volumeInfo.imageLinks.medium %}
            <img src="{{ book.volumeInfo.imageLinks.medium }}" class="img-fluid" alt="{{ book.volumeInfo.title }}">
          {% elif book.volumeInfo.imageLinks.small %}
            <img src="{{ book.volumeInfo.imageLinks.small }}" class="img-fluid" alt="{{ book.volumeInfo.title }}">
          {% elif book.volumeInfo.imageLinks.thumbnail %}
            <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" class="img-fluid" alt="{{ book.volumeInfo.title }}">
          {% endif %}
          <div class="text-center">
            <form action="{% url 'books_like_dislike_post' book.id book.volumeInfo.title %}" method="POST">
              {% csrf_token %}
              <input type="text" class="hidden d-none" value='True' name='liked'>
              <button class="btn btn-block btn-primary" {% if read.liked %}disabled{% endif %}>Like</button>
            </form>
          </div>
          <div class="text-center">
            <form action="{% url 'books_like_dislike_post' book.id book.volumeInfo.title %}" method="POST">
              {% csrf_token %}
              <input type="text" class="hidden d-none" value='False' name='liked'>
              <button class="btn btn-block btn-primary" {% if not read.liked %}disabled{% endif %}>Dislike</button>
            </form>
          </div>
          <div class="text-center">
            <form action="{% url 'books_wishlist_post' book.id book.volumeInfo.title %}" method="POST">
              {% csrf_token %}
              {% if wishlist %}
                <button class="btn btn-block btn-danger">Remove from wishlist</button>
              {% else %}
                <button class="btn btn-block btn-primary">Add to wishlist</button>
              {% endif %}
            </form>
          </div>
          <div class="text-center">
            <button class="btn btn-block btn-primary ">Suggest to friend</button>
          </div>
      </div>
      <div class="col-sm-8">
          <h2>{{ book.volumeInfo.title }}</h2>
          <hr/>
          <h3>{{ book.volumeInfo.authors }}</h3>
          <p><b>Language: </b>{{ book.volumeInfo.language }}</p>
          <p><b>Publish date: </b>{{ book.volumeInfo.publishedDate }}</p>
          <p><b>Available in ebook: </b>
            {% if book.saleInfo.isEbook %}
            Yes
            {% else %}
            No
            {% endif %}
          </p>
          <p>{{ book.volumeInfo.description|safe }}</p>
      </div>
  </div>
</div>
{% endblock %}
