{% extends "common/base.html" %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/books_details.css' %}">
  <link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
{% endblock %}

{% block title %}Books Detail | {{ book.volumeInfo.title }}{% endblock %}

{% block content %}
<div class="box-form">
  <div class="row">
      <div class="text-center col-sm-5 col-md-4">
          {% if book.volumeInfo.imageLinks.large %}
            <img src="{{ book.volumeInfo.imageLinks.large }}" class="img-fluid" alt="{{ book.volumeInfo.title }}">
          {% elif book.volumeInfo.imageLinks.medium %}
            <img src="{{ book.volumeInfo.imageLinks.medium }}" class="img-fluid" alt="{{ book.volumeInfo.title }}">
          {% elif book.volumeInfo.imageLinks.small %}
            <img src="{{ book.volumeInfo.imageLinks.small }}" class="img-fluid" alt="{{ book.volumeInfo.title }}">
          {% elif book.volumeInfo.imageLinks.thumbnail %}
            <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" class="img-fluid" alt="{{ book.volumeInfo.title }}">
          {% endif %}
          {% if user.is_authenticated %}
            <div class="text-center">
              <form action="{% url 'books_like_dislike_post' book.id book.volumeInfo.title %}" method="POST">
                {% csrf_token %}
                <input type="text" class="hidden d-none" value='True' name='liked'>
                <button class="btn btn-block btn-primary" {% if read and read.liked %}disabled{% endif %}>Like</button>
              </form>
            </div>
            <div class="text-center">
              <form action="{% url 'books_like_dislike_post' book.id book.volumeInfo.title %}" method="POST">
                {% csrf_token %}
                <input type="text" class="hidden d-none" value='False' name='liked'>
                <button class="btn btn-block btn-primary" {% if read and not read.liked %}disabled{% endif %}>Dislike</button>
              </form>
            </div>
            <div class="text-center">
              <form action="{% url 'books_wishlist_post' book.id book.volumeInfo.title %}" method="POST">
                {% csrf_token %}
                {% if wishlist %}
                  <button class="btn btn-block btn-danger">Remove from wishlist</button>
                {% else %}
                  <button class="btn btn-block btn-primary">Add to wishlist</button>
                {% endif %}
              </form>
            </div>
            <div class="text-center">
              <button class="btn btn-block btn-primary"  data-toggle="modal" data-target="#myModal" {% if friends.count <= 0 %}disabled{% endif %}>Suggest to friend</button>
            </div>
            {% include "books/suggest_book_modal.html" with friends=friends user=user %}
          {% endif %}
      </div>
      <div class="col-sm-7 col-md-8">
          <div class="col-xs-12 mx-auto block">
            {% include "common/message.html" %}
          </div>
          <h2 class="text-lavendar">{{ book.volumeInfo.title }}</h2>
          <hr/>
          <h3>{% for author in book.volumeInfo.authors%}{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}</h3>
          <p><b>Language: </b>{{ book.volumeInfo.language }}</p>
          <p><b>Publish date: </b>{{ book.volumeInfo.publishedDate }}</p>
          <p><b>Available in ebook: </b>
            {% if book.saleInfo.isEbook %}
            Yes
            {% else %}
            No
            {% endif %}
          </p>
          <p>{{ book.volumeInfo.description|safe }}</p>
      </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/sweet-alert.min.js' %}"></script>
    <script>
      $('.suggest-friend').click(function(){
        $('#myModal').modal('toggle');
        var form = $(this).find('form');

        swal({
          title: "Are you sure?",
          text: "You will send a book recommendation to " + $(this).find('.user-fullname').text() + ".",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-primary",
          cancelButtonClass: "btn-danger",
          confirmButtonText: "Recommend",
          cancelButtonText: "Cancel",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {
            form.submit();
          } else {
            $('#myModal').modal('toggle');
          }
        });
      });
    </script>
{% endblock %}