{% extends "common/base.html" %}
{% load extras %}
{% load staticfiles %}

{% block title %}Books Reads{% endblock %}

{% block content %}
    <h2 class="text-lavendar">Book Reads</h2>
    <hr />
    <p>
        <b class="mr-2">Filters:</b>
        <a href="?liked=all" class="btn btn-sm btn-outline-success mr-2">All</a>
        <a href="?liked=True" class="btn btn-sm btn-outline-primary mr-2">Liked</a>
        <a href="?liked=False" class="btn btn-sm btn-outline-danger">Disliked</a>
    </p>

    {% if page_obj.object_list.count %}
        <div class="row">
            {% for data in page_obj.object_list %}
                {% with data.book.google_id|load_book as book_info %}
                    <div class="col-xs-12 col-sm-4 text-center mb-4">
                        <a href="{% url 'books_detail' data.book.google_id %}">
                            {% if book_info.volumeInfo.imageLinks %}
                                <img class="list-book-image-size" src="{{ book_info.volumeInfo.imageLinks.thumbnail }}" alt="{{ book_info.volumeInfo.title }}">
                            {% else %}
                                <img class="list-book-image-size" src="{% static 'img/no-book-image.jpg' %}" alt="No book image" class="img-fluid">
                            {% endif %}
                            <p class="mt-2"><b>{{ book_info.volumeInfo.title }}</b></p>
                        </a>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12 mx-auto">
                {% include "common/pagination.html" %}
            </div>
        </div>
    {% else %}
        <h4>You don't have any reads book.</h4>
    {% endif %}
{% endblock %}
