{% extends "common/base.html" %} 
{% load staticfiles %}

{% block title %}Books{% endblock %}

{% block content %}
    <h2 class="text-lavendar">Books</h2>
    <hr />
    
    <div class="row">
        {% for book in books.items %}
            <div class="colxs-12 col-sm-6 col-md-4 mb-4 text-center">
                <a href="{% url 'books_detail' book.id %}">
                    {% if book.volumeInfo.imageLinks %}
                        <img class="list-book-image-size" src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title }}">
                    {% else %}
                        <img class="list-book-image-size" src="{% static 'img/no-book-image.jpg' %}" alt="No book image" class="img-fluid">
                    {% endif %}
                    <p class="mt-2" ><b>{{ book.volumeInfo.title }}</b></p>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}