{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FriendsBookshelf | {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="application/javascript" src="{% static 'js/fontawesome-all.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
   {% block extra_css %}{% endblock extra_css %}
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img class="logo-img" src="{% static 'img/logo2.png' %}" alt="Logo">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books_wishlist' %}">Books Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books_liked' %}">Books Read</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'books_list' %}" method="GET">
        {% csrf_token %}
          <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search" value="{{ q }}">
          <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.image %}
              <img src="{{ user.image_thumbnail.url }}" class="navbar-user-image rounded">
            {% else %}
              <i class="fas fa-user"></i>
            {% endif %}
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'user_information' user.id %}"><i class="fas fa-user"></i> User Info</a>
            <a class="dropdown-item" href="{% url 'friends' %}"><i class="fas fa-users"></i> Friends</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
      {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block content %} {% endblock content %}
  </div>

  <footer class="page-footer">
    <div class="footer-copyright">
      © {% now "Y" %} Copyright:
      <a href="{% url 'home' %}"> FriendsBookshelf.com </a>
    </div>
  </footer>

  <script type="application/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/common.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>

</html>
