{% extends "common/base.html" %}
{% load bootstrap4 %}

{% block title %}User Information{% endblock %}

{% block content %}
  <div class="box-form col-sm-10 offset-sm-1 col-md-8 offset-md-2">
    <h2 class="text-center text-lavendar">User Information</h2>
    <hr/>

    <form method="POST" enctype="multipart/form-data">
        {% include "common/message.html" %}
        {% csrf_token %}
        {% bootstrap_form form %}

      <div class="text-center">
        {% buttons %}
            <button class="btn btn-lg btn-primary">Submit</button>
        {% endbuttons %}
      </div>
    </form>
  </div>

{% endblock %}
