{% extends "common/base.html" %}
{% load bootstrap4 %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="box-form col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  <h2 class="text-center text-lavendar">Login</h2>
  <hr/>

  {{ error_message }}
      <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          {% bootstrap_form form %}

        <div class="text-center">
          {% buttons %}
              <button class="btn btn-lg btn-primary">Submit</button>
          {% endbuttons %}

          <a href="{% url 'forgot' %}">Forgot Password?</a>
        </div>
      </form>
  </div>
{% endblock %}
