{% extends "common/base.html" %}
{% load bootstrap4 %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="box-form col-sm-8 offset-sm-2 col-md-6 offset-md-3">
    <h2 class="text-center text-lavendar">Register</h2>
    <hr/>

    <form method="POST" action="{% url 'register' %}">
        <!-- Form error messages -->
        {% include "common/message.html" %}

        {% csrf_token %}
        <!-- Load Form from the view.py -->
        {% bootstrap_form form %}

        {% buttons %}
          <div class="text-center">
            <button class="btn btn-lg btn-success">Register</button>
          </div>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
