{% extends "common/base.html" %}
{% load extras %}
{% load staticfiles %}
{% load humanize %}

{% block title %}User Detail | {{ user_detail.first_name }} {{ user_detail.last_name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-5 col-md-4 col-lg-3 text-center">
            <!-- Check if user have a profile image -->
            {% if user_detail.image %}
                <img src="{{ user_detail.image_medium.url }}" class="img-fluid img-thumbnail"/>
            {% else %}
                <img src="{% static 'img/user_icon.png' %}" class="img-fluid img-thumbnail"/>
            {% endif %}

            <!-- Check if I sent a friend request, or received the friend request and depending on 
                 that the user can accept or decline friend request, cancel friend request or 
                 delete the user if they are friends -->
            {% if user_detail != user %}
                <div class="text-center">
                    {% if friend_request_from_user_accept %}
                        {% if friend_request_from_user_accept == 'friend_request_not_accepted_from_user' %}
                            <form action="{% url 'users_friends_post' user_detail.id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" class="hidden d-none" value='accept' name='accept_decline_friend_request'>
                                <button class="btn btn-block btn-primary">Accept Friend Request</button>
                            </form>
                            <form action="{% url 'users_friends_post' user_detail.id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" class="hidden d-none" value='decline' name='accept_decline_friend_request'>
                                <button class="btn btn-block btn-danger">Decline Request</button>
                            </form>
                        {% else %}
                            <form action="{% url 'users_friends_post' user_detail.id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" class="hidden d-none" value='True' name='liked'>
                                <button class="btn btn-block btn-danger">Delete Friend</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <form action="{% url 'users_friends_post' user_detail.id %}" method="POST">
                            {% csrf_token %}
                            {% if friend_accepted %}
                                <button class="btn btn-block btn-danger">Delete Friend</button>
                            {% elif friend_request %}
                                <button class="btn btn-block btn-danger">Cancel Friend Request</button>
                            {% else %}
                                <button class="btn btn-block btn-primary">Send Friend Request</button>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
            {% endif %}
            <hr class="d-block d-sm-none" />
        </div>
        <div class="col-sm-7 col-md-8 col-lg-9">
            <div class="row">
                <div class="col-xs-12 mx-auto block">
                    {% include "common/message.html" %}
                </div>
            </div>
            <div class="mb-5">
                <h2 class="text-lavendar">User Information</h2>
                <hr/>
                <!-- User information -->
                <p><b>First Name:</b> {{ user_detail.first_name }}</p>
                <p><b>Last Name:</b> {{ user_detail.last_name }}</p>
                <p><b>Bio:</b> {% if user_detail.bio %}{{ user_detail.bio }}{% else %}No bio.{% endif %}</p>
                {% if user_detail.gender %}<p><b>Gender:</b>{% if user_detail.gender == "F" %} Female {% elif user_detail.gender == "M"%} Male{% endif %}</p>{% endif %}
            </div>
            <div class="mb-5">
                <!-- Show list of books reads -->
                <h2 class="text-lavendar">Latest Books Reads</h2>
                <hr/>
                {% if books_read.count %}
                    <div class="row">
                        {% for data in books_read %}
                            {% with data.book.google_id|load_book as book_info %}
                                <div class="col-xs-12 col-sm-4 text-center mb-4">
                                    <a href="{% url 'books_detail' data.book.google_id %}">
                                        {% if book_info.volumeInfo.imageLinks %}
                                            <img src="{{ book_info.volumeInfo.imageLinks.thumbnail }}" alt="{{ book_info.volumeInfo.title }}">
                                        {% else %}
                                            <img class="list-book-image-size" src="{% static 'img/no-book-image.jpg' %}" alt="No book image" class="img-fluid">
                                        {% endif %}
                                        <p class="mt-2"><b>{{ book_info.volumeInfo.title }}</b></p>
                                    </a>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% else %}
                    <h5>This user dosen't have any Book Read.</h5>
                {% endif %}
            </div>
            <div class="mb-5">
                <!-- Show list of posts -->
                <h2 class="text-lavendar">Latest Posts</h2>
                <hr />

                {% if posts.count %}
                    <div class="all-post-box">
                    {% for post in posts %}
                        <div class="post-comment-box mb-4 ajax-post" id='{{ post.id }}'>
                            <div class="post-information">
                                <div class="user-post-box mb-3 mt-3 clearfix">
                                    <div class="float-left mr-1">
                                        <a>
                                            {% if post.user.image %}
                                                <img src="{{ post.user.image_thumbnail.url }}" class="rounded-circle newsfeed-post-img-size"/>
                                            {% else %}
                                                <img src="{% static 'img/user_icon.png' %}" class="rounded-circle newsfeed-post-img-size"/>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="float-left">
                                        <p class="mb-0">
                                            <a>
                                                <b>{{ post.user.first_name }} {{ post.user.last_name }}</b>
                                            </a>
                                        </p>
                                        <p class="text-small mb-0"><small>{{ post.created_date|naturalday|capfirst }} at {{ post.created_date|date:'P' }}</small></p>
                                    </div>
                                </div>
                                <div class="post-box">
                                {{ post.description }}

                                {% if post.book %}
                                    {% with post.book.book.google_id|load_book as book_info %}
                                        <div class="row mt-4 suggested-books-box">
                                            <div class="col-sm-3 pt-4">
                                            <a href="{% url 'books_detail' post.book.book.google_id %}" target="_blank">
                                                {% if book_info.volumeInfo.imageLinks %}
                                                    <img src="{{ book_info.volumeInfo.imageLinks.thumbnail }}" alt="{{ book_info.volumeInfo.title }}" class="img-fluid">
                                                {% else %}
                                                    <img src="{% static 'img/no-book-image.jpg' %}" alt="No book image" class="img-fluid">
                                                {% endif %}
                                                <p class="mt-2 text-center"><b>{{ book_info.volumeInfo.title }}</b></p>
                                            </a>
                                            </div>
                                            <div class="col-sm-9 books-box-description">
                                                <p class='book-description-text overflow-hidden'>{{ book_info.volumeInfo.description|safe }}</p>
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <h5>This user dosen't have any Post.</h5>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/read-more.min.js' %}"></script>
{% endblock %}