{% extends "common/base.html" %}
{% load bootstrap4 %}

{% block title %}Confirm Password{% endblock %}

{% block content %}
    <div class="row">
        <div class="box-form col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            <h2 class="text-center text-lavendar">Reset Password</h2>
            <hr/>
            <form method="POST" action="{% url 'user_reset_password' uid token %}">
                {% csrf_token %}
                <div class="col-xs-12 mx-auto block">
                    {% include "common/message.html" %}
                </div>

                {% bootstrap_form form %}

                <div class="text-center">
                    {% buttons %}
                        <button class="btn btn-lg btn-primary">Reset</button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>    
{% endblock %}