{% extends "common/base.html" %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock extra_css %}

{% block title %}User Search{% endblock %}

{% block content %}
    <h2 class="text-lavendar">User Search</h2>
    <hr />
    <div class="row mb-5">
        <div class="col-12">
            <form method="GET" action="{% url 'user_search' %}" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <!-- <label for="search-user">Search for users</label> -->
                <input id="search-user" class="form-control mr-sm-2" type="text" name="user_name" placeholder="Search For User" value="{{request.GET.user_name}}">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Submit</button>
            </form>
        </div>
    </div>

    {% if page_obj.object_list.count %}
        <div class="row">
            {% for data in page_obj.object_list %}
                <div class="col-md-6 col-lg-3 mb-5">
                    <a href="{% url 'user_details' data.id %}">
                        <div class="card">
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>

                            {% if data.image %}
                                <img class="src-image" src="{{ data.image_thumbnail.url }}"/>
                            {% else %}
                                <img class="src-image" src="{% static 'img/user_icon.png' %}"/>
                            {% endif %}

                            <div class="avatar">
                                {% if data.image %}
                                    <img src="{{ data.image_thumbnail.url }}"/>
                                {% else %}
                                    <img src="{% static 'img/user_icon.png' %}"/>
                                {% endif %}
                            </div>
                            <div class="content">
                                <p class="mt-2"><b>{{ data.first_name }} {{ data.last_name }}</b></p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12 mx-auto">
                {% include "common/pagination.html" %}
            </div>
        </div>
    {% else %}
        {% if request.GET.user_name %}
            <h5>We didn't found any user with the keywords: {{ request.GET.user_name }}</h5>
        {% else %}
            <h5>We didn't found any user.</h5>
        {% endif %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="application/javascript" src="{% static 'js/friends.js' %}"></script>
{% endblock %}
