{% extends "common/base.html" %}

{% block title %}User Information{% endblock %}

{% block content %}
<i class="fas fa-user"></i>
  <i class="far fa-user"></i>
  <!--brand icon-->
  <i class="fab fa-github-square"></i>
    <div class="row">
        <div class="col-sm-2 text-center">
            {{ user.image.large }}
        </div>
        <div class="col-sm-10">
            <h2>User Iformation</h2>
            {{ user.first_name }}
            {{ user.last_name }}
            {{ user.bio }}
            {{ user.gender }}
        </div>
        <div class="col-sm-10">
            <h2>Latest Books Reads</h2>
            {% for book in books_read %}
                {{ book }}
            {% endfor %}
        </div>
        <div class="col-sm-10">
            <h2>Latest Posts</h2>
                {% for post in posts %}
                    {{post}}
                {% endfor %}
            </div>
    </div>
{% endblock %}